/*--------------------
General Style
---------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background: rgba(45, 58, 78, 1.00);
}


.body-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: rgba(45, 58, 78, 1.00);
  height: 100%;
  width: 100%;
}

/* rgba(6, 170, 79, 1.00)  rgba(71, 98, 130, 1.00)*/

.header-paragraph {

}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.4;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  min-width: 400px;
  width: 400px;
  height: 70px;
}

.search-container > input {
  min-height: 40px;
  height: 40px;
  max-height: 40px;
  padding: 10px;
  font-size: medium;
  border-radius: 2px 0  0 2px;
  border: 1px solid #e9ebf2;
  color: rgba(121, 125, 128, 1.00);
  font-weight: normal;
}

#search-select {
  min-height: 40px;
  height: 40px;
  max-height: 40px;
  min-width: 120px;
  max-width: 120px;
  padding: 5px;
  font-size: 14px;
  border-radius: 0 2px 2px 0;
  border: 1px solid #e9ebf2;
  color: rgba(121, 125, 128, 1.00);
  font-weight: normal;
}



.select-field-custom {
  /* for Firefox */
  -moz-appearance: none;
  /* for Safari, Chrome, Opera */
  -webkit-appearance: none;

  border: none;
}

/* for IE10 */
.select-field-custom::-ms-expand {
  display: none;
}


/*--------------------
Checkout
---------------------*/


ul.order-list {
  width: 100%;
  max-width: 100%;
  height: 85%;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-bottom: 150px;
}

ul.order-list li {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto max-content;
  height: max-content;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 1px solid rgba(255,255,255,0.6);
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: rgba(255, 255, 255, .05);
}


ul.order-list li > .product-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 1;
  letter-spacing: 1px;
  height: 100%;
  width: 100%;
  padding-left: 10px;
}

ul.order-list li > .qty-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10px;
}

.info-field-container .input-field-container {
  min-width: 100%;
}

.info-field-container {
  min-height: 20px;
  height: auto;
  width: 100%;
  min-width: 100%;
  margin: 4px;
  display: grid;
  grid-template-columns: 2fr 6fr;
}

.info-field-container  > .product-info-text {
  font-size: 14px;
  display: flex;
  width: 100%;
  min-width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 4px;
}

.qty-field-container {
  min-height: 20px;
  height: 100%;
  width: 100%;
  min-width: 100%;
  margin: 4px;
  display: grid;
  grid-template-columns: 3fr 4fr;
  justify-content: center;
  align-items: center;
}



.input-field-container {
  display: flex;
  width: 100%;
  min-width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 4px;
}

.input-field-container > input {
  border: 1px solid #e9ebf2;
  padding-left: 8px;
  border-radius: 3px;
  width: 100%;
  max-width: 50px;
  color: #6d819c;
  font-weight: bold;
  display: flex;
}


.field-label {
  color: rgba(148, 160, 175, 1.00);
  font-size: 13px;
  display: flex;
  width: 100%;
  min-width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 3px;
}


::-webkit-input-placeholder { color: #dddfe6; }
:-moz-placeholder { color: #dddfe6; }
::-moz-placeholder {  color: #dddfe6; }
:-ms-input-placeholder {  color: #dddfe6; }

.space {
  margin-right: 10px;
}



